[Unit]
Description=Minecraft server
After=newtwork.target

[Service]
WorkingDirectory=/srv/Minecraft-Server/
Type=forking
User=azar
ExecStart=/srv/Minecraft-Server/start.sh
ExecStop=/usr/bin/screen -S Minecraft -X stop

[Install]
WantedBy=multi-user.target
